/* your styles go here */
.login-form{padding-top: 6rem!important;}
.card-login{margin-top: 2rem;}
.form-btn{margin-bottom: 2rem;}
.back-btn{float: right;}
.form-btn{margin-right:2em;margin-left:2em;}
.custom-form{
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}