/* your styles go here */
.login-form{padding-top: 6rem!important;}
.card-login{margin-top: 2rem;}
.form-btn{margin-bottom: 2rem;}
.back-btn{float: right;}
.form-btn{margin-right:2em;margin-left:2em;}
.custom-form{
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}
li.sidebar-list-item{
    margin-left: -1em !important;
}
.badge-pill{
    margin-left: 1em;
}
#addproject{
    margin-bottom: 1em!important;
}
div.main-text {height:60px;
    overflow:hidden!important;
}
.read-more{margin-top: 2em;}
.btn-bid{
    display:none;
}

a.project-holder:hover ~ span.btn-bid{
    display:block !important; 
}
a.project-holder,
a.project-holder:hover {
  color: inherit;
  text-decoration: none;
}